/**
 * Related to Grocery CRUD
 */

// Fix GroceryCrud styling (e.g. conflict with AdminLTE)
.flexigrid div.form-div input[type="text"], .flexigrid div.form-div input[type="password"] {
	height: auto !important;
}

.checkbox, .radio {
	display: inline;
	margin-bottom: 0;
	margin-top: 5px;
}

// Font icons inside GroceryCRUD
.ajax_list .fa {
	font-size: 18px;
	color: inherit;
	text-decoration: none;
}