.DS_Store

### Bower ###
bower_components/
.bower-cache
.bower-registry
.bower-tmp

### Node ###
node_modules/
npm-debug.log

### Composer ###
application/composer.lock

### https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore ###
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

## Source map files (local gulp tasks will still produce .map for debug use) ###
*.map

### SQL backup files ###
sql/backup/*
sql/backup/!index.html